.places__image {
  width: 460px;
  height: auto;
}

@media (max-width : 1025px) {
  .places__image {
    width: 440px;
  }
}

@media (max-width : 900px) {
  .places__image {
    width: 400px;
  }
}

@media (max-width : 769px) {
  .places__image {
    width: 340px;
  }
}

@media (max-width : 700px) {
  .places__image {
    width: 280px;
  }
}

@media (max-width : 550px) {
  .places__image {
    width: 320px;
  }
}

