.articles__url-heading {
  align-self: end;
  justify-self: start;
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #AAAAAA;
}