.places__title {
  align-self: end;
  margin: 0 0 -8px;
  padding: 5px 0 0 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  white-space: pre-wrap;
}

@media (max-width: 769px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 550px) {
  .places__title {
    padding: 0 16px 0;
    margin: 0;
    font-size: 32px;
    line-height: 35px;
  }
}
