@import url('./__overlay/cover__overlay.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__title/cover__title.css');
.cover {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: calc(100% - 96px);
  padding-bottom: 57.81%;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
}

@media (max-width: 1025px) {
  .cover {
    width: 100%;
    padding-bottom: 62.5%;
  }
}